@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* ROOT */

:root {
    --color01: #F2ACC6;
    --color02: #F28DBC;
    --color03: #3632A6;
    --color04: #3B478C;
    --color05: #8DD5F2;
}

/* FONTS */

/* BOXES */

body {
    background-color: var(--color05);
}

header {
    background-color: var(--color01);

    text-align: center;
}

nav {
    background-color: var(--color03);

    height: 25px;
    padding: 10px;
}

section {
    background-color: lightgray;
    background-image: url(../images/farewell.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: #000000;
    text-align: center;
    
    box-shadow: inset 5px 5px 12px;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

/* TAGS */

h1 {
    padding: 25px;
}
/* BOXES > TAGS */

nav > a {
    font-size: 1.5em;
}

section > h2 {
    font-size: 3em;

    text-shadow: 1px 1px 2px black;
    color: white;
}

section > p {
    font-size: 1.8em;

    text-shadow: 1px 1px 2px black;
    color: white;
}