@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* ROOT */

:root {
    --color01: #F2ACC6;
    --color02: #F28DBC;
    --color03: #3632A6;
    --color04: #3B478C;
    --color05: #8DD5F2;
}

/* FONTS */

@font-face {
    font-family: 'Cracked Concrete';
    src: url(../fonts/CrackedConcrete/CrackedConcrete.otf), format(opentype);
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf), format(truetype);
}

@font-face {
    font-family: 'Pixeled';
    src: url(../fonts/Pixeled.ttf), format(truetype);
}

@font-face {
    font-family: 'Alagard';
    src: url(../fonts/alagard.ttf), format(truetype);
}
/* BOXES */

body {
    background-color: var(--color05);
}

header {
    background-color: var(--color01);

    text-align: center;
}

nav {
    background-color: var(--color03);
    font-family: 'Minecraft';
    font-weight: lighter;

    height: 25px;
    padding: 10px;
}

section {
    background-color: lightgray;
    background-image: url(../images/farewell.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: #000000;
    text-align: center;
    
    box-shadow: inset 5px 5px 12px;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

main {
    background-color: white;
    border-radius: 5px;

    margin: 20px;
    padding: 25px;
}

footer {
    text-align: center;
    background-color: var(--color04);

    padding: 30px;

    color: white;
}
/* TAGS */

h1 {
    padding: 15px;
    font-size: 5em;
    font-family: 'Cracked Concrete';
}

h2 {
    font-family: 'Pixeled';
}

p {
    font-family: 'Alagard';
    text-indent: 1em;
}

a {
    text-decoration: none;
    color: white;

    padding: 5px;
}

a:hover {
    background-color: var(--color05);

    border-radius: 5px;
    transition-duration: .3s;
}
/* BOXES > TAGS */

nav > a {
    font-size: 1.5em;
    
}

section > h2 {
    font-size: 3em;

    text-shadow: 3px 2px 2px black;
    color: white;
}

section > p {
    font-size: 1.8em;

    text-shadow: 1px 1px 2px black;
    color: white;
}

main > p {
    padding-top: 1em;
    padding-left: 2em;
}
