@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* ROOT */

:root {
    --colo01: #04D939;
    --color02: #03A63C;
    --color03: #02732A;
    --color04: #261E1E;
    --color05: #F2F2F2;

    --fonttitle: 'Glitching', Arial, Helvetica, sans-serif;
    --fontemphasis: 'Minecraft Font', Arial, Helvetica, sans-serif;
    --fontmain: 'Kenyan Coffe Rg', Arial, Helvetica, sans-serif;
    --minorfont: ;
}

/* FONTS */

@font-face {
    font-family: 'Glitching';
    src: url(../fonts/GlitchingDemoRegular.ttf), format(truetype);
}
@font-face {
    font-family: 'Minecraft Font';
    src: url(../fonts/Minecraft.ttf), format(truetype);
}
@font-face {
    font-family: 'Kenyan Coffe Rg';
    src: url(../fonts/Kenyan\ Coffee\ Rg.otf), format(opentype);
}

/* TAGS */

h1 {
    font-size: 11em;
    font-family: var(--fonttitle);
    font-weight: normal;
}

h2 {
    font-family: var(--fontemphasis);
}

h3 {
    font-family: var(--fontemphasis);
}

p {
    font-family: var(--fontmain);
}

a {
    font-family: var(--fontemphasis);
    text-decoration: none;
    color: white;

    padding: 5px;
}

a:hover {
    background-color: rgb(201, 54, 0);

    border-radius: 5px;
    transition-duration: .3s;
}

/* BOXES > TAGS */

nav > a {
    font-size: 1.5em;
}

section > h2 {
    font-size: 5em;

    text-shadow: 1px 1px 2px black;
    color: white;
}

section > p {
    font-size: 1.8em;

    text-shadow: 1px 1px 2px black;
    color: white;
}

main > h2 {
    font-size: 3em;

    color: white;
    background-color: var(--colo01);

    margin-bottom: 20px;
}

main > h3 {
    background-color: var(--colo01);

    font-size: 2.5em;
}

main > p {
    font-size: 2em;
}

main > img {
    width: 600px;

    margin-top: 10px;
    margin-bottom: 10px;
}

footer > p {
    font-size: 1.5em;

    padding-bottom: 5px;
}
/* BOXES */

body {
    height: 100vh;
    background-color: var(--color04);
}

header {
    background-image: linear-gradient(to bottom, var(--colo01), var(--color03));
    color: white;

    text-align: center;

    height: 120px;
    padding: 20px;
}

nav {
    background-color: var(--color03);

    height: 25px;
    padding: 10px;
}

section {
    background-color: lightgray;
    background-image: url(../images/mm..food.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: #000000;
    text-align: center;
    
    box-shadow: inset 5px 5px 12px;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

main {
    background-color: var(--color02);

    border-radius: 5px;

    margin: 20px;
    padding: 25px;
}

footer {
    background-color: black;
    color: white;

    text-align: center;

    padding: 30px;
}