@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* FONTs */
@font-face {
    font-family: 'Alagard';
    src: url(../fonts/alagard.ttf), format(truetype);
}
@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf), format(truetype);
}
@font-face {
    font-family: 'Pixeled'; 
    src: url(../fonts/Pixeled.ttf), format(truetype);
}
@font-face {
    font-family: 'Cracked Concrete';
    src: url(../fonts/CrackedConcrete/CrackedConcrete.otf), format(opentype);
}

/* ROOT */
:root {
    --fontpixel: 'Pixeled';
    --fontconc: 'Cracked Concrete';
    --fontalag: 'Alagard';
    --fontmine: 'Minecraft';

    --color1: #732751;
    --color2: #392359;
    --color3: #432D73;
    --color4: #F2CDA0;
    --color5: #F2A9A2;
}
/* TAGs */
h1 {
    font-size: 6em;
    font-family: var(--fontconc);
    font-weight: normal;
    color: white;
}

h2 {
    font-family: var(--fontmine);
}

a {
    font-family: var(--fontalag);
    text-decoration: none;
}

p {
    font-family: var(--fontalag);
}

a:hover {
    text-decoration: underline;
}

/* TAGs > BOXs */
nav a {
    color: white;
}

main p {
    font-size: 1.5em;
    text-indent: 4em;

    padding: 20px;
    padding-right: 5px;
    padding-top: 10px;
}

main h2 {
    font-size: 2em;
    text-indent: 2em;
}
/* BOXs */
header {
    background-color: var(--color3);
    text-align: center;
}

nav {
    background-color: var(--color2);
    font-size: 2em;
    padding: 5px;
}

section {
    background-color: lightgray;
    background-image: url(../images/farewell.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: #000000;
    text-align: center;
    
    box-shadow: inset 5px 5px 12px;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

main {
    margin: 10px;
    padding: 20px;

    background-color: var(--color4);
    border-radius: 4px;
}

footer {
    background-color: black;
    color: white;

    font-size: 2em;
    text-align: center;

    padding: 30px;
}